= javascript_tag do
  function initialize() {

  var myplace = new google.maps.LatLng("#{@bussiness['latitude']}", "#{@bussiness['longitude']}");

  var mapOptions = {
  center: myplace,
  zoom: 12
  };
  var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

  var marker = new google.maps.Marker({
  position: myplace,
  map: map,
  title:"#{@bussiness['name']}"
  });

  marker.setMap(map);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
